<!DOCTYPE html>
<html lang="en-US">
  include ../include/head.pug
  include ../include/nav.pug
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  link(rel="stylesheet", href="/css/recent.css")  


<body>
  .container
    .row
      each year in years
        .col-12
          .div-header
            h4 Placements in Year #{year.emp_year}
          <table class="table">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Student name</th>
                //- <th scope="col">Company name</th>
                <th scope="col">Annual package</th>
              </tr>
            </thead>
            <tbody>
              - var index = 1;
              each candidate in list
                if(candidate.emp_year == year.emp_year)
                  <tr>
                    <td>#{index++}</td>
                    <td style="text-align:left">#{candidate.emp_name}</td>
                    //- <td>#{candidate.emp_company}</td>
                    <td>#{candidate.emp_package}</td>
                  </tr>
            </tbody>
          </table>      


//- script(src = "js/load-csv-to-html.js")
include ../include/footer.pug

</body>
</html>